/* Reset default margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Pastikan padding dan border diperhitungkan dalam lebar dan tinggi elemen */
}

.content {
  margin-bottom: 20px; /* Atur jarak bawah sesuai kebutuhan Anda */
}

/* Hide all content except table and keep header/footer visible */
.container, .judul .kategori-header, .kategori-item, .slider-wrapper, .slider-wrappers, .menu-category-header, .menu-categories, .content, .pad, .category-item {
  display: none;
}

/* Optional: Limit the height of the table section and enable scrolling within it */
.containerss {
  margin-top: 0px;
  margin-bottom: 10px;
  /* padding-top: 130px;
  padding-bottom: 130px; */
  max-height: 100vh; /* Set to viewport height */
  overflow-y: auto;  /* Allow scrolling within the containerss section */
}


/* Promo Card Styles */
        .content {
            padding: 20px;
        }

        .promo-card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .promo-card p {
            margin-bottom: 10px; /* Add some space between paragraphs */
        }

        /* Styling the validity */
        .validity {
            font-weight: bold;
            color: #333; /* You can also change the color if needed */
            margin-top: 5px; /* Optional: add space above the validity */
        }

/* Gaya Loading Screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease; /* Durasi transisi untuk menyembunyikan loading screen */
}

/* Spinner Animation */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #f4b100; /* Ganti dengan warna yang diinginkan */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Spinner Animation Keyframes */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Konten Utama */
#main-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}



/* Body */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
}

/* Popup Notifikasi Styles */
.notification-popup {
  position: fixed;
  bottom: 70px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0; /* Awalnya tersembunyi */
  transform: translateY(20px); /* Memindahkan popup sedikit ke bawah dari posisi akhir */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Durasi dan jenis transisi */
  z-index: 1000;
  max-width: 300px; /* Tentukan lebar maksimum */
  box-sizing: border-box;
}

.notification-popup.show {
  opacity: 1; /* Menampilkan popup dengan opacity penuh */
  transform: translateY(0); /* Mengembalikan popup ke posisi akhir */
}

.notification-content {
  display: flex;
  flex-direction: column; /* Mengatur teks menjadi kolom */
  align-items: flex-start; /* Menyelaraskan teks ke kiri */
  position: relative; /* Untuk memposisikan tombol close relatif terhadap konten */
}

.notification-content p {
  margin: 0;
  font-size: 14px;
}

.notification-content .highlight {
  display: block; /* Mengatur teks highlight agar berada di bawah */
  margin-top: 5px; /* Jarak antara baris */
  font-weight: bold;
  color: #f4b100; /* Ganti dengan warna yang diinginkan */
}

.notification-close {
  position: absolute; /* Posisi absolut untuk memposisikan tombol close */
  top: 2px;
  right: -5px;
  background: none;
  border: none;
  color: #ff2c2c;
  font-size: 11px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s; /* Transisi warna dan transformasi */
}

.notification-close:hover {
  color: #ffffff; /* Warna saat hover */
  transform: scale(1.1); /* Membesarkan tombol saat hover */
}



/* Jarak kiri dan kanan untuk tampilan mobile */
@media (max-width: 768px) {
  body {
    padding: 20px 15px; /* Mengurangi padding atas dan bawah, menambahkan padding kiri dan kanan */
  }

  .site-header {
    padding: 10px 15px; /* Menambahkan padding kiri dan kanan di header */
  }

  .search-box {
    width: 90%; /* Memastikan search box tidak melebar terlalu besar */
  }

  #chart-container, .menu-category-header, .menu-item, .menu-categories {
    padding: 0 15px; /* Menambahkan padding kiri dan kanan pada kontainer konten utama */
  }

  .menu-item, #chart-container {
    margin: 15px auto; /* Memastikan ada ruang di sekitar elemen */
  }
}

.logo img {
  height: 35px;
}

.main-nav {
  display: flex;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.main-nav li {
  margin: 0 10px;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
}

.main-nav a:hover {
  color: #4CAF50;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none; /* Sembunyikan di desktop */
  cursor: pointer;
  position: relative;
}

.menu-toggle .bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.3s;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
}

/* Tampilan menu pada perangkat mobile */
@media (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #fff;
      width: 200px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .menu.active {
      display: flex;
  }

  .menu-toggle {
      display: block;
  }
}

/* Search Box */
.search-box {
  position: fixed;
  top: 65px; /* Adjust the vertical position */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for the box width */
  width: 300px;
  z-index: 10;
}

.search-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}


/* Menu Categories */
.menu-category-header-awal {
  padding-top: 50px;
}

.menu-category-header {
  padding: 20px 15px; /* Menambahkan padding atas dan bawah yang konsisten */
  border-bottom: 0px solid #ddd; /* Memberikan garis bawah */
  background-color: #f9f9f9;
  margin-top: 20px; /* Jarak atas untuk memisahkan dari elemen sebelumnya */
  text-align: center;
}

.menu-category-header h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

/* Food Menu */
.food-menu {
  padding-bottom: 40px;
  text-align: center;
}

.food-menu h2 {
  color: #666;
  margin: 30px auto;
}

.menu-item {
  position: relative;
  margin: 15px auto;
  text-align: center;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-logo {
  position: absolute;
  display: inline-block;
  width: 16%;
  top: 14%;
  left: 42%;
}

.menu span {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #d9d9d9;
}

.fruits {
  background-image: url("https://s3.amazonaws.com/projects.loratadin.com/coffeeshop/images/fruits.jpg");
}

.pasta {
  background-image: url("https://s3.amazonaws.com/projects.loratadin.com/coffeeshop/images/pasta.jpg");
}

.steak {
  background-image: url("https://s3.amazonaws.com/projects.loratadin.com/coffeeshop/images/steak.jpg");
}

.fruits span {
  transition: transform 900ms ease-in-out;
}

.fruits:hover span {
  transform: scale(1.5) translateY(20px);
}

.fruits:hover .first-frame {
  opacity: 1;
}

.first-frame {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 83%;
  height: 81%;
  border: 2px solid #f6bbbb;
  z-index: 1;
  opacity: 0;
}

.first-frame p {
  color: #d9d9d9;
  padding-top: 60%;
}

.second-frame {
  position: absolute;
  top: 51%;
  left: 9%;
  border-left: 1px #f6bbbb solid;
  height: 40%;
  z-index: 1;
  opacity: 0;
}

.second-frame p {
  color: #f6bbbb;
  font-size: 20px;
  padding-left: 6%;
  padding-bottom: 20%;
}

.pasta:hover .second-frame {
  opacity: 1;
}

.pasta span {
  transition: transform 900ms ease-in-out;
}

.pasta:hover span {
  transform: scale(1.5) translateX(-12%) translateY(395%);
}

.pasta:hover {
  opacity: 0.7;
}

.steak .decor-line1,
.steak .decor-line2 {
  position: absolute;
  width: 0.5%;
  height: 0.5%;
  z-index: 1;
  opacity: 0;
  background-color: #f6bbbb;
  animation: mydecor 2s ease-in-out infinite alternate;
}

.steak .decor-line1 {
  top: 8%;
  left: 8%;
}

.steak .decor-line2 {
  top: 50%;
  right: 7%;
}

@keyframes mydecor {
  from {
    width: 1%;
  }
  to {
    width: 85%;
  }
}

.steak:hover .decor-line1,
.steak:hover .decor-line2 {
  opacity: 1;
}

/* Responsive Styles */
@media (min-width: 451px) {
  .food-menu {
    padding-bottom: 50px;
  }

  .food-menu h2 {
    margin: 60px auto 40px;
  }

    .menu-item {
    width: 400px;
    height: 400px;
    margin: 50px auto;
  }

  .menu span {
    left: 36%;
  }

  .second-frame p {
    font-size: 24px;
    padding-left: 20%;
  }

  .pasta:hover span {
    transform: scale(1.5) translateX(-14%) translateY(550%);
  }

  .second-frame {
    left: 8%;
    border-left: 2px #f6bbbb solid;
  }
}

@media (min-width: 769px) {
  .food-menu {
    padding-bottom: 80px;
  }

  .food-menu h2 {
    margin: 80px auto 40px;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .menu-item {
    width: 250px;
    height: 250px;
  }

  .menu span {
    left: 30%;
  }

  .second-frame p {
    font-size: 16px;
    padding-left: 17%;
  }

  .pasta:hover span {
    transform: scale(1.5) translateX(-4%) translateY(350%);
  }
}

@media (min-width: 1025px) {
  .food-menu {
    padding-bottom: 100px;
  }

  .food-menu h2 {
    margin: 60px auto 40px;
  }

  .menu-item {
    width: 300px;
    height: 300px;
  }

  .menu-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .menu span {
    left: 32%;
  }

  .second-frame p {
    font-size: 17px;
  }

  .pasta:hover span {
    transform: scale(1.5) translateX(-12%) translateY(450%);
  }
}

/* Container untuk Menempatkan Header di Tengah Halaman */
.container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 25px;
  justify-content: center; /* Menempatkan elemen di tengah secara horizontal */
  align-items: center; /* Menempatkan elemen di tengah secara vertikal */
  height: 50px; /* Mengatur tinggi container agar memenuhi seluruh tinggi viewport */
  background-color: #F8F8F8; /* Latar belakang container untuk kontras */
}

/* Kategori Header */
.kategori-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: relative;
  display: inline-block;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradien latar belakang */
  padding: 10px 20px;
  border-radius: 10px;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Efek Hover pada Judul */
.kategori-header:hover {
  color: #fff; /* Mengubah warna teks saat di-hover */
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradien latar belakang saat di-hover */
  transform: scale(1.05); /* Memperbesar sedikit saat di-hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan saat di-hover */
}

/* Animasi Titik Bergetar */
.kategori-header::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.kategori-header:hover::before {
  opacity: 1; /* Membuat efek titik bergetar terlihat saat di-hover */
}



/* Slider Container */
.kategori-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  padding: 0 20px;
}

/* Slider Wrapper */
.slider-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dua kolom dalam satu baris */
  gap: 8px; /* Jarak antara item */
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}
.slider-wrappers {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dua kolom dalam satu baris */
  gap: 8px; /* Jarak antara item */
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

/* Kategori Item */
.kategori-item {
  padding: 15px;
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #f7f7f7); /* Gradien latar belakang */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efek Hover pada Kategori Item */
.kategori-item:hover {
  transform: translateY(-5px); /* Mengangkat item saat di-hover */
  box-shadow: 0 12px 24px #feb47bc5;
  cursor: pointer;
}

/* Gaya Teks dalam Kategori Item */
.kategori-item h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333;
}

.kategori-item p {
  font-size: 14px;
  color: #666;
}

/* Responsivitas */
@media screen and (max-width: 768px) {
  .slider-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Menyesuaikan jumlah kolom berdasarkan lebar */
    padding: 0 15px; /* Jarak kiri dan kanan pada slider-wrapper untuk perangkat kecil */
  }
  
  .kategori-item {
    margin: 0 10px; /* Menambahkan margin kiri dan kanan pada kategori item */
  }
}

  /* Jarak tambahan di bagian atas baris pertama */
  .slider-wrapper > :nth-child(-n+2) {
    margin-top: 20px; /* Jarak tambahan di atas baris pertama */
  }

@media screen and (max-width: 480px) {
  .kategori-item {
    padding: 10px; /* Mengurangi padding pada perangkat sangat kecil */
    margin: 0 5px; /* Menambahkan margin kiri dan kanan pada kategori item */
  }
}


.menu-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.category-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px; /* Jarak vertikal antar item */
  margin-left: 10px;  /* Jarak kiri dari container */
  margin-right: 10px; /* Jarak kanan dari container */
}

.category-item:hover {
  transform: translateY(-10px); /* Efek mengangkat saat di-hover */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3), 0 20px 40px rgba(0, 0, 0, 0.2); /* Shadow lebih besar saat di-hover */
}

@media screen and (max-width: 768px) {
  .category-item {
    margin-left: 5px;  /* Jarak kiri yang lebih kecil pada perangkat kecil */
    margin-right: 5px; /* Jarak kanan yang lebih kecil pada perangkat kecil */
  }
}

@media screen and (max-width: 480px) {
  .category-item {
    margin-left: 2px;  /* Jarak kiri yang lebih kecil pada perangkat sangat kecil */
    margin-right: 2px; /* Jarak kanan yang lebih kecil pada perangkat sangat kecil */
  }
}



.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-item img.black-and-white {
  filter: grayscale(100%); /* Mengubah gambar menjadi hitam-putih */
  transition: filter 0.3s; /* Transisi untuk efek halus */
}


.category-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category-info h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.category-info p {
    margin: 5px 0 0;
    font-size: 16px;
}

.category-item:hover img {
    transform: scale(1.1);
}

.category-item:hover .category-info {
    opacity: 1;
}

.no-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none; /* Menghilangkan garis bawah jika ada */
}

.sold-out-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px; /* Kurangi jarak ke atas */
  font-family: 'Arial', sans-serif;
}

.sold-out-message.show {
  opacity: 1;
  transform: scale(1);
  color: #ff4444; /* Warna merah lebih lembut */
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.sold-out-message.pulse {
  animation: pulse 1s infinite;
}



/* Chart Container */
#chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 25px;

  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efek 3D dengan bayangan */
  max-width: 400px;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

/* Aturan khusus untuk tampilan mobile */
@media (max-width: 767px) {
  #chart-container {
    gap: 20px;
      padding: 50px; /* Padding lebih kecil di tampilan mobile */
      margin: 50 50px; /* Margin di kiri dan kanan untuk tampilan mobile */
      margin-left: 30px;
      /* Atur lebar maksimum jika diperlukan */
      max-width: calc(100% - 50px); /* Kurangi lebar maksimum dengan padding */
  }
}

#chart-container:hover {
  transform: translateY(-10px); /* Efek mengangkat saat di-hover */
}

#chart-container textarea {
  width: 100%;
  height: 150px; /* Atur tinggi textarea sesuai kebutuhan */
  resize: vertical; /* Biarkan pengguna mengubah ukuran secara vertikal */
  box-sizing: border-box; /* Memastikan padding dan border diperhitungkan dalam lebar dan tinggi */
  margin: 10px 0; /* Tambahkan margin jika perlu */
}


/* Chart List */
#chart-list {
  list-style-type: none;
  padding: 0;
}

#chart-list li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#chart-list li:hover {
  transform: translateY(-5px); /* Efek mengangkat sedikit saat di-hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan lebih besar saat di-hover */
}

.chart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu-name {
  flex-grow: 1; /* Memungkinkan nama menu untuk mengambil ruang yang tersedia */
  font-size: 16px;
  text-align: left;
  margin-right: 10px; /* Menambahkan jarak antara nama menu dan tombol */
}

.quantity-controls {
  display: flex;
  gap: 5px; /* Jarak antara tombol */
  margin-left: auto; /* Memindahkan elemen ke sisi kanan */
}

.quantity-controls button {
  padding: 2px 5px; /* Ukuran tombol */
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc; /* Warna border abu-abu */
  background-color: #f9f9f9; /* Warna latar belakang netral */
  border-radius: 3px;
}




/* Button Order */
#chart-container button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  margin: 5px;
}

#chart-container button:hover {
  background-color: #0056b3;
}

/* CSS tambahan untuk textarea */

#special-request {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: visible; /* Memastikan tidak ada scroll */
  resize: none; /* Mencegah pengguna untuk mengubah ukuran secara manual */
  min-height: 50px; /* Tinggi minimal dari textarea */
  height: auto; /* Mengatur tinggi otomatis sesuai dengan isi */
}

#special-request:focus {
  height: auto;
  min-height: 300px; /* Tinggi minimum textarea saat fokus */
  max-height: none; /* Membiarkan textarea untuk terus bertambah tinggi */
}

/* Notification Styles */
.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification.bounce {
  animation: bounce 0.5s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

/* Button container styling */
.button-container {
  margin-top: 10px;
}

/* General styles for scroll buttons */
.scroll-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #f7f7f71f; /* Button background color */
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.scroll-button img {
  width: 70%;
  height: 70%;
}

/* Position the scroll-to-top button */
#scroll-to-top {
  bottom: 130px; /* Position above the bottom of the page */
  right: 20px;  /* Position to the right of the page */
}

/* Position the scroll-to-bottom button */
#scroll-to-bottom {
  bottom: 70px; /* Position at the bottom of the page */
  right: 20px;  /* Position to the right of the page */
}

/* General Footer Styles */
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 150px; /* Adjust the size of the logo */
  height: auto;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #007bff;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media {
  margin: 10px 0;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 24px; /* Adjust the size of social media icons */
  height: auto;
}

.footer-bottom {
  margin-top: 10px;
}

.footer-bottom p {
  margin: 0;
  color: #6c757d;
  font-size: 14px;
}

.footer a.qr-reader {
  color: #007bff;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}

.footer a.qr-reader i {
  background-image: url('img/footer/qr.png'); /* Replace with your QR icon */
  background-size: cover;
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto 5px;
}


/* CSS untuk menonaktifkan seleksi teks */
.sold-out-message {
  user-select: none; /* Menonaktifkan seleksi teks */
  -webkit-user-select: none; /* Untuk browser berbasis WebKit (Chrome, Safari) */
  -moz-user-select: none; /* Untuk Firefox */
  -ms-user-select: none; /* Untuk Internet Explorer/Edge */
}

/* CSS untuk latar belakang ketika menu di-"sold out" */
.menu-categories.sold-out-background {
  background-color: rgba(255, 0, 0, 0.1); /* Warna latar belakang saat "Sold Out" */
  border-radius: 10px; /* Sudut membulat untuk latar belakang */
  transition: background-color 0.5s ease;
}

/* CSS untuk animasi elemen "Sold Out" */
.sold-out-message {
  position: relative;
  background-color: rgba(255, 0, 0, 0.26);
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.sold-out-message.show {
  opacity: 1;
  transform: scale(1);
}

.sold-out-message.pulse {
  animation: pulseAnimation 1.5s infinite;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Efek ketika menghapus elemen */
.sold-out-message.remove {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.pad {
  padding-bottom: 30px;
}
